@keyframes moveup{
    from{top:0px}
    to{top: 20px}
}
@keyframes movedown {
    
}
@keyframes moveleft {
    
}
@keyframes moveright {
    
}
.snake{
    float: left;
    position:absolute;
    width:10px; 
    height:10px ;
    background-color : black;
}
#head{
    position:absolute;
    width:10px; 
    height:10px ;
    background-color : red;
}
#food{
    float: left;
    position:absolute;
    width:10px; 
    height:10px ;
    background-color : blue;
}
.snake-animate{
    background-color : red;
    animation-name: moveup;
    animation-duration: 1s;
    animation-timing-function: linear;
}