.snake{
    float: left;
    position:absolute;
    width:20px; 
    height:20px ;
    background-color : black;
}
#head{
    position:absolute;
    width:20px; 
    height:20px ;
    background-color : red;
}
#food{
    float: left;
    position:absolute;
    width:20px; 
    height:20px ;
    background-color : blue;
}
